<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <ul>
	<li><a href="/static_pages/home">Home</a></li>
	<li><a href="/static_pages/help">Help</a></li>
	<li><a href="/static_pages/about">About Us</a></li>
	<li><a href="/static_pages/contact">Contact Us</a></li>
</ul>
<%= yield %>

</body>
</html>
